@font-face {
    font-family: GBJenLei;
    src: url("@/assets/fonts/GBJenLei/GBJenLei-Medium.woff") format("woff"),
         url("@/assets/fonts/GBJenLei/GBJenLei-Medium.woff2") format("woff2");
}

@font-face {
    font-family: BlizzardGlobal;
    src: url("@/assets/fonts/BlizzardGlobal.ttf");
}

@font-face {
    font-family: FranklinGothic;
    src: url("@/assets/fonts/FranklinGothic/FranklinGothic-MediumCond.woff") format("woff"),
         url("@/assets/fonts/FranklinGothic/FranklinGothic-MediumCond.woff2") format("woff2");
    font-weight: lighter;
}

html {
    background-color: white;
    color: black;
    overflow-x: hidden;
}

html.dark{
    background-color: black;
    color: white;
}

a{
    text-decoration: none;
}

html select {
    border-color: black;
    color: black;
}

html.dark select {
    border-color: white;
    color: white;
}

html select option {
    font-family: BlizzardGlobal;
    background-color: white;
    color: black;
}

html.dark select option {
    font-family: BlizzardGlobal;
    background-color: black;
    color: white;
}


html button, 
html input,
html textarea {
    color: black;
    border-color: black;
}

html.dark button, 
html.dark input,
html.dark textarea {
    color: white;
    border-color: white;
}

html button:hover {
    background-color: black;
    border-color: white;
    color: white;
}

html.dark button:hover {
    background-color: white;
    border-color: black;
    color: black;
}

html .upload-input-mask {
    background-color: black;
    border-color: white;
    color: white;
}

html.dark .upload-input-mask {
    background-color: white;
    border-color: black;
    color: black;
}

html a {
    color: black;
}

html.dark a {
    color: white;
}