@font-face {
    font-family: GBJenLei;
    src: url("@/assets/fonts/GBJenLei/GBJenLei-Medium.woff") format("woff"),
         url("@/assets/fonts/GBJenLei/GBJenLei-Medium.woff2") format("woff2");
}

@font-face {
    font-family: BlizzardGlobal;
    src: url("@/assets/fonts/BlizzardGlobal.ttf");
}

html {
    background-color: black;
    color: white;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

select option {
    background-color: black;
    color: white;
    font-family: BlizzardGlobal;
}